<!-- Neo -->
<div class="inside">
<div class="heading">
  <h1>Select A Survey</h1>
</div>

<div class="cards">

  <div class="container text-center">
      <div class="row align-items-start">
        <div *ngFor="let survey of surveys" (click)="onTakeSurvey(survey.title)"  class="col-md-4" id="oneCar" style="padding-bottom: 20px">
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
              <img class="w-full" src="{{survey.imageurl}}" alt="Sunset in the mountains">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{survey.title}}</div>
                <p class="text-gray-700 text-base">
                  {{survey.description}}
                </p>
              </div>
              <!-- <button type="button" class="btn btn-primary" >Take Survey</button> -->
              <div class="px-6 pt-4 pb-2">
                <span *ngFor="let tag of survey.hashTags" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{tag}}</span>
              </div>
            </div>
      
        </div>
      </div>
  </div>

</div>
</div>