<!-- 
<div class="heading">
    <h1>Select A Survey</h1>
</div>

<div class="cards">

    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                <img class="w-full" src="https://img.freepik.com/premium-vector/medical-health-bag-stethoscope-jar-pills-cartoon-icon-illustration-healthcare-medicine-icon-concept-isolated-premium-flat-cartoon-style_138676-1619.jpg?w=2000" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Health Survey</div>
                  <p class="text-gray-700 text-base">
                    Health surveys generally include measures of risk factors, health behaviors, and non-health determinants or correlates of health such as socioeconomic status.
                  </p>
                </div>
                <button type="button" class="btn btn-primary" routerLink="/surveys" >Take Survey</button>
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#healthy</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#gym</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#wellness</span>
                </div>
              </div>
        
          </div>
          <div class="col">
            <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                <img class="w-full" src="https://www.kindpng.com/picc/m/171-1712006_office-employee-cartoon-hd-png-download.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Employee Engagement Survey</div>
                  <p class="text-gray-700 text-base">
                    Collect employee engagement data, create conversational employee surveys, and improve employee productivity with QuickSurveys Employee Engagement Tool.
                  </p>
                </div>
                <button type="button" class="btn btn-primary" routerLink="/surveys">Take Survey</button>
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#workhero</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nailedit</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#company</span>
                </div>
              </div>
        
          </div>
          <div class="col">
            <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                <img class="w-full" src="https://media.istockphoto.com/id/1142620914/vector/five-stars.jpg?s=612x612&w=0&k=20&c=e6lwtnLjS198y07lhoc14_x6P1p5o_Nd3V_QVttJY24=" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Customer Service Survey</div>
                  <p class="text-gray-700 text-base">
                    Use the right types of questions in your customer service survey to ensure you achieve excellent customer service and high customer satisfaction.
                  </p>
                </div>
                <button type="button" class="btn btn-primary" routerLink="/surveys"  >Take Survey</button>
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#feedback</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#happy</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#reviews</span>
                </div>
              </div>
        
          </div>
        </div>
    </div>

    <div class="cards">

        <div class="container text-center">
            <div class="row align-items-start">
              <div class="col">
                <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                    <img class="w-full" src="https://img.freepik.com/premium-vector/home-appliances-electronics-set_61878-111.jpg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Electronics</div>
                      <p class="text-gray-700 text-base">
                        Consumer electronics survey questions is a questionnaire to gather information about the shopping experiences of consumers when purchasing electronics.
                      </p>
                    </div>
                    <button type="button" class="btn btn-primary"routerLink="/surveys"  >Take Survey</button>
                    <div class="px-6 pt-4 pb-2">
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#healthy</span>
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#gym</span>
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#wellness</span>
                    </div>
                  </div>
            
              </div>
              <div class="col">
                <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                    <img class="w-full" src="https://img.freepik.com/premium-vector/people-shopping-cartoon_18591-35927.jpg?w=2000" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Shopping</div>
                      <p class="text-gray-700 text-base">
                        An online shopping survey is a questionnaire used by online stores to collect feedback from their customers. used by online stores to collect
                      </p>
                    </div>
                    <button type="button" class="btn btn-primary" routerLink="/surveys"  >Take Survey</button>
                    <div class="px-6 pt-4 pb-2">
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#workhero</span>
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nailedit</span>
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#company</span>
                    </div>
                  </div>
            
              </div>
              <div class="col">
                <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                    <img class="w-full" src="https://img.freepik.com/premium-vector/smiling-red-car-cartoon-white_29190-4847.jpg?w=2000" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2">Automotive</div>
                      <p class="text-gray-700 text-base">
                        utomotive Connected Car Consumer Analysis; Automotive User Experience Consumer Analysis; Automotive E-Mobility Consumer.  Experience Consumer Analysis; Automotive 
                      </p>
                    </div>
                    <button type="button" class="btn btn-primary" routerLink="/surveys"  >Take Survey</button>
                    <div class="px-6 pt-4 pb-2">
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#feedback</span>
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#happy</span>
                      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#reviews</span>
                    </div>
                  </div>
            
              </div>
            </div>
        </div>
        <div class="cards">

            <div class="container text-center">
                <div class="row align-items-start">
                  <div class="col">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                        <img class="w-full" src="https://img.freepik.com/free-vector/cute-man-playing-game-computer-cartoon-vector-icon-illustration-people-technology-icon-isolated_138676-5731.jpg" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                          <div class="font-bold text-xl mb-2">Gaming</div>
                          <p class="text-gray-700 text-base">
                            This is a short, 20 question survey that will take 5 minutes to complete. We are asking video game players about their gaming habits and skills learned.
                          </p>
                        </div>
                        <button type="button" class="btn btn-primary" routerLink="/surveys" >Take Survey</button>
                        <div class="px-6 pt-4 pb-2">
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#healthy</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#gym</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#wellness</span>
                        </div>
                      </div>
                
                  </div>
                  <div class="col">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                        <img class="w-full" src="https://img.freepik.com/free-vector/doodle-cute-girl-student-clipart-reading-book-character-student-back-school-cartoon-design_40876-3288.jpg?w=2000" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                          <div class="font-bold text-xl mb-2">Academic</div>
                          <p class="text-gray-700 text-base">
                            An academic survey is a tool designed to obtain more knowledge and data about a chosen subject. The results are used to answer questions or confirm hypotheses
                          </p>
                        </div>
                        <button type="button" class="btn btn-primary" routerLink="/surveys"  >Take Survey</button>
                        <div class="px-6 pt-4 pb-2">
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#workhero</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nailedit</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#company</span>
                        </div>
                      </div>
                
                  </div>
                  <div class="col">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg" id="cardfull">
                        <img class="w-full" src="https://img.freepik.com/premium-vector/cartoon-kids-playing-sports-boys-soccer-boxing-girls-volleyball-karate-illustration_88100-635.jpg?w=2000" alt="Sunset in the mountains">
                        <div class="px-6 py-4">
                          <div class="font-bold text-xl mb-2">Sports</div>
                          <p class="text-gray-700 text-base">
                            A sports questionnaire, from the name given, is used to ask sports-related questions for a particular purpose. A sports questionnaire, from the name given
                          </p>
                        </div>
                        <button type="button" class="btn btn-primary" routerLink="/surveys"  >Take Survey</button>
                        <div class="px-6 pt-4 pb-2">
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#feedback</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#happy</span>
                          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#reviews</span>
                        </div>
                      </div>
                
                  </div>
                </div>
            </div> -->