
<!-- <div class="container mt-5" style="padding-top:115px;">
    <div class="jumbotron" >
        <h1 class="display-4">Welcome to the <span style="color:#4b9a9e;; font-weight:700;">Big Man Surveys</span></h1>
        <p class="lead">Create and take surveys with ease.</p>
        <hr class="my-4">
        <p>Get started by creating a new survey or taking an existing one.</p>
        <div class="survey-btn">
            <a class="btn btn-lg btn1" href="#" role="button">Create Survey</a>
            <a class="btn btn-secondary btn-lg btn2" href="#" role="button">Take Survey</a>
        </div>
    </div>
</div> -->

<header class="py-5">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="mb-2 text-white display-5 fw-bolder">Create and take surveys with ease.</h1>
                  <p class="mb-4 lead fw-normal text-white">Get started by creating a new survey or taking an existing one.</p>
                  <div class="gap-3 d-grid d-sm-flex justify-content-sm-center justify-content-xl-start">
                      <a class="px-4 btn btn-primary btn-lg me-sm-3" href="#features">Create Survey</a>
                      <a class="px-4 btn btn-outline-light btn-lg" href="#!">Take Survey </a>
                  </div>
              </div>
          </div>
          <!-- <div class="text-center col-xl-5 col-xxl-6 d-none d-xl-block"><img class="my-5 img-fluid rounded-3" src="../../../assets/survey-testing.jpg"></div> -->

          <div class="text-center col-xl-5 col-xxl-6 d-none d-xl-block">
            <img class="my-5 img-fluid rounded-3 img-responsive" src="../../../assets/survey-testing.jpg">
          </div>
      </div>
  </div>
</header>


<!-- <footer class="py-3 bg-secondary" style="margin-top: 250px; font-size: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">&copy; 2023 Big Man Survey</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="text-white"><a >Privacy Policy</a> | <a>Terms of Use</a></p>
            </div>
        </div>
    </div>
</footer> -->

