
<nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top">
    <img src="" style="font-size: 10px;" alt="">
    <a class="navbar-brand" href="#" style="font-size:30px; font-weight:lighter; margin-left: 20px;" >Big Man Surveys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="font-size: 17.5px;">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="">Surveys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white"  routerLink="/register">Account</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container mt-5" style="padding-top:115px;">
    <div class="jumbotron" >
        <h1 class="display-4">Welcome to the <span style="color:#BFD9DA; font-weight:700;">Big Man Surveys</span></h1>
        <p class="lead">Create and take surveys with ease.</p>
        <hr class="my-4">
        <p>Get started by creating a new survey or taking an existing one.</p>
        <div class="survey-btn">
            <a class="btn btn-lg btn1" href="#" role="button">Create Survey</a>
            <a class="btn btn-secondary btn-lg btn2" href="#" role="button">Take Survey</a>
        </div>
    </div>
</div>

<footer class="bg-secondary py-3" style="margin-top: 250px; font-size: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">&copy; 2023 Big Man Survey</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="text-white"><a >Privacy Policy</a> | <a>Terms of Use</a></p>
            </div>
        </div>
    </div>
</footer>

