
<nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top">
    <img src="" style="font-size: 10px;" alt="">
    <a class="navbar-brand" href="#" style="font-size:30px; font-weight: bold;" >Survey Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Surveys</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5" style="padding-top:100px;">
    <div class="jumbotron" style="height: 50vh;">
      <h1 class="display-4">Welcome to the Survey Application</h1>
      <p class="lead">Create and take surveys with ease.</p>
      <hr class="my-4">
      <p>Get started by creating a new survey or taking an existing one.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Create Survey</a>
      <a class="btn btn-secondary btn-lg" href="#" role="button">Take Survey</a>
    </div>
  </div>
