.display-4 {
    font-weight: 500;
}

.survey-btn {
    margin-top: 15px;
    text-align: center;
}

.survey-btn a.btn2 {
    margin-left: 10px;
}

.btn1 {
    background-color: #BFD9DA;
    color: white;
    transition: 0.3s ease-in-out;
}

.btn1:hover {
    background-color: #87AAAE;
    color: white;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;  
}

.btn2:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out; 
}
