.sharebtn{
    border: 0;
    
    background-color: white;
}
.menu{
    border: none;
    background-color: white;

}
.optionsContainer{
    display: flex;
}
.card{
    margin-top: 20px;
    margin: 50px;
}

.navbar{
background-color: antiquewhite;
}
.navbar-name{
    font-size: larger;
    font-weight: 500;
}
.card-body{
   text-align: center;
}

#create{
    margin-bottom: 5px;
}
