<div class="container">
  <h1 id="dash-head">Admin Dashboard</h1>
  
  <div class="optionsContainer">
  
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-vector/corporate-website-abstract-concept-illustration_335657-1831.jpg?w=2000"  class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button" class="btn btn-dark btn-md" id="create" routerLink="/createsurvey">Create Survey</button> 
          </div>
      </div>
  
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-online-survey_516790-138.jpg?w=2000"  class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button" class="btn btn-dark btn-md" id="create">Results</button> 
          </div>
      </div>
  
      <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-vector/cute-girl-playing-smartphone-cartoon-vector-icon-illustration-people-technology-icon-concept-isolated-premium-vector-flat-cartoon-style_138676-3972.jpg?w=2000"  class="card-img-top" alt="...">
          <div class="card-body">
            <button type="button" class="btn btn-dark btn-md" id="create" routerLink="/users">Users</button> 
          </div>
      </div>
  
  </div>
  
  
  
  
  
  



</div>
