
<nav class="navbar">
  <a class="navbar-name"> My Workspace
</a>
<ul>
  <button type="button" class="sharebtn" title="">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" class="bi bi-person-plus-fill">
      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
    </svg>
    <a class="navbarname">Share</a>
  </button>

  <button type="buttton" class="menu">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  class="bi bi-three-dots">
      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
    </svg>
  </button>
</ul>
</nav>

<div class="optionsContainer">
  
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAElBMVEX///8AAABZWVlRUVFdXV0fHx/kZ4pAAAAA/ElEQVR4nO3dOwrDMBRFQcef/W85RVpVxo44YmYB4p72gfG2AQAAAAAAAAAAAKs5PiPH7FkP2oeF++xZD1LYp7BPYZ/CPoV9CvsU9insU9insE9hn8I+hX0K+xT2KexT2KewT2Gfwj6FfQr7FPYp7FPYp7Bv/cJzWHjOnjVw7Lec17DwOu899+Z3GsOh/6dQocL5FCpUOJ9ChQrnU6hQ4XwKFSqc78XC9W9td3XupXetf/NW2KewT2Gfwj6FfQr7FPYp7FPYp7BPYZ/CPoV9CvsU9insU9insE9hn8I+hX0K+xT2KexT2Kewb/3C9f8lCwAAAAAAAAAAAPx8AZ3RGBoLA00uAAAAAElFTkSuQmCC" alt="...">
    <div class="card-body">
     <button type="button" class="btn btn-dark btn-md" id="create">+ Create Survey</button> 
    </div>
</div>





