<!-- <div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
</div> -->
<div class="container mt-5" style="padding-top:115px;">
 
      <div class="jumbotron" >
          <h1 class="display-4">Welcome to the <span style="color:#4b9a9e;; font-weight:700;">QuickSurveys 🚀</span></h1>
          <p class="lead">Create and take surveys with ease.</p>
          <hr class="my-4">
          <p class="info">Get started by creating a new survey or taking an existing one.</p>
          <div class="survey-btn">
              <a class="btn btn-lg btn1" href="#" role="button" id="create">Create Survey</a>
              <a class="btn btn-secondary btn-lg btn2" href="#" role="button" id="take">Take Survey</a>
          </div>
      </div>
  </div>