<!-- <div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
</div> -->
<div class="container mt-5" style="padding-top:115px;">
 
      <div class="jumbotron" >
          <h1 class="display-4">Welcome to the <span style="color:#4b9a9e;; font-weight:700;">QuickSurveys 🚀</span></h1>
          <p class="lead">Create and take surveys with ease.</p>
          <hr class="my-4">
          <p class="info">Get started by creating a new survey or taking an existing one.</p>
          <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <div class="survey-btn" >
              <!-- <a class="btn btn-lg btn1" href="#" role="button" id="create">Create Survey</a> -->
              <a class="btn btn-secondary btn-lg btn2" style="background-color: #4b9a9e; border-color: #4b9a9e;" href="#" role="button" id="take" routerLink="/login">Take Survey</a>
          </div>
          </ul>
          <div class="survey-btn" >
              <!-- <a class="btn btn-lg btn1" href="#" role="button" id="create">Create Survey</a> -->
              <!-- <a class="btn btn-secondary btn-lg btn2" style="background-color: #4b9a9e; border-color: #4b9a9e;" href="#" role="button" id="take" routerLink="/login">Take Survey</a> -->
          </div>
      </div>
  </div>

  <div class="head-title">
        <h1>Choose from our most popular surveys</h1>
        <h3>Get an individual survey that fits your company's needs!</h3>

  </div>
  <br>
  <br>
  <div class="cards">

    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="https://img.freepik.com/premium-vector/medical-health-bag-stethoscope-jar-pills-cartoon-icon-illustration-healthcare-medicine-icon-concept-isolated-premium-flat-cartoon-style_138676-1619.jpg?w=2000" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Health Survey</div>
                  <p class="text-gray-700 text-base">
                    Health surveys generally include measures of risk factors, health behaviors, and non-health determinants or correlates of health such as socioeconomic status.
                  </p>
                </div>
                <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                  <div class="survey-btn" >
                    <!-- <a class="btn btn-lg btn1" href="#" role="button" id="create">Create Survey</a> -->
                    <button type="button" class="btn btn-primary" routerLink="/register">Register</button>
                </div>
                </ul>
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#healthy</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#gym</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#wellness</span>
                </div>
              </div>
        
          </div>
          <div class="col">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="https://www.kindpng.com/picc/m/171-1712006_office-employee-cartoon-hd-png-download.png" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Employee Engagement Survey</div>
                  <p class="text-gray-700 text-base">
                    Collect employee engagement data, create conversational employee surveys, and improve employee productivity with QuickSurveys Employee Engagement Tool.
                  </p>
                </div>
                <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                  <div class="survey-btn" >
                    <!-- <a class="btn btn-lg btn1" href="#" role="button" id="create">Create Survey</a> -->
                    <button type="button" class="btn btn-primary" routerLink="/register">Register</button>
                </div>
                </ul>
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#workhero</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nailedit</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#company</span>
                </div>
              </div>
        
          </div>
          <div class="col">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="https://media.istockphoto.com/id/1142620914/vector/five-stars.jpg?s=612x612&w=0&k=20&c=e6lwtnLjS198y07lhoc14_x6P1p5o_Nd3V_QVttJY24=" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">Customer Service Survey</div>
                  <p class="text-gray-700 text-base">
                    Use the right types of questions in your customer service survey to ensure you achieve excellent customer service and high customer satisfaction.
                  </p>
                </div>
                <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                  <div class="survey-btn" >
                    <!-- <a class="btn btn-lg btn1" href="#" role="button" id="create">Create Survey</a> -->
                    <button type="button" class="btn btn-primary" routerLink="/register">Register</button>
                </div>
                </ul>
                
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#feedback</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#happy</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#reviews</span>
                </div>
              </div>
        
          </div>
        </div>
    </div>


    
      <!-- <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>

      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>
 -->






  </div>