<!-- <footer class="py-3 bg-secondary" style="margin-top: 250px; font-size: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">&copy; 2023 Big Man Survey</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="text-white"><a >Privacy Policy</a> | <a>Terms of Use</a></p>
            </div>
        </div>
    </div>
</footer> -->
 <!-- Footer-->
 <footer class="py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="m-0 text-white small">Copyright © Quick Surveys 2023</div></div>
            <div class="col-auto">
                <a class="link-light small text-white" href="#!">Privacy</a>
                <span class="mx-1 text-white">·</span>
                <a class="link-light small text-white" href="#!">Terms</a>
                <span class="mx-1 text-white">·</span>
                <a class="link-light small text-white" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>