<div class="container" *ngIf="currentUser; else loggedOut">
    <header >

      <div class="heading">
        <img src="https://surveyjs.io/Content/Images/V2/dashboard-page/02-Dashboard.png" width="50rem">
        <h2>DASHBOARD</h2>
      </div>
      <hr>
      <br>
      <h3 class="emaiil">
        <img id="email-icon" src="https://img.icons8.com/?size=512&id=23264&format=png">
        <b>Username: </b> &nbsp; {{ currentUser.username | uppercase }}
      </h3>
    </header>
    <!-- <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p> -->
    <p class="emaiil">
      <img id="email-icon" src="https://img.icons8.com/?size=512&id=85467&format=png">
      <b>Email Address: </b>  &nbsp;
      {{ currentUser.email }}
    </p>
    <!-- <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul> -->
  </div>
  
  <div class="form-group">
    <button class="btn btn-primary btn-block" (click)="openAddEditEmpForm()">Update Details</button>
  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
  