#head{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.content {
    padding-top: 10px;
  }
  .row {
    display: flex;
    gap: 10px;
  
    
  }
 
  .action {
    padding: 0px 25px 20px;
    
  }
button {
      flex: 1;
    }

mat-form-field {
        width: 100%;
     }