<div class="bg-slate-600 min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Welcome Back</h1>

  
            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="email"
                placeholder="Email" />
  
            <input 
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="password"
                placeholder="Password" />
            
  
            <button
                type="submit"
                class="w-full text-center py-3 rounded bg-green bg-slate-600  text-white block border border-grey-light w-full p-3 rounded mb-4 hover:bg-green-dark focus:outline-none my-1"
            >Login</button>
  
            <div class="text-center text-sm text-grey-dark mt-4">
                Forgot 
                <a class="no-underline border-b border-grey-dark text-grey-dark text-blue-500" href="#">
                    Password?

                </a>
            </div>
        </div>
  
        <div class="text-grey-dark mt-6 text-white"  >
            Do not have an account? 
            <a class="no-underline border-b border-blue text-red-600" t  href="../register/">
                Register
            </a>.
        </div>
    </div>
  </div>