.navbar {
    background-color: #4b9a9e;
    
}

.mb-4 {
    padding-right: 200px;
    /* margin-right: 20px; */
}

.navbar-collapse {
    justify-content: flex-end;
}
  
.navbar-nav li {
    padding-right: 10px;
    font-size: 17px;
}

.navbar-nav button {
    padding: 1px;
    background:#4b9a9e;
   border: 1px solid white;
}

/* .navbar-nav li a:hover {
    text-decoration: underline;
} */

/* .navbar a {
    margin: 8px;
    position: relative;
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease;
  }
  
.navbar a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff; 
} */

.navbar a {
    margin: 8px;
    position: relative;
    padding-bottom: 5px;
    transition: border-bottom 0.3s ease;
}

.navbar a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    animation: bounce 0.5s ease-in-out;
    animation-iteration-count: 2;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

/* .btn1 {
    background-color: #87AAAE;

    color: white;
    transition: 0.3s ease-in-out;
}

.btn1:hover {
    background-color: #4b9a9e;

    color: white;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;  
}

.btn2:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out; 
} */



.navbar-nav button {
    text-align: center;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navbar-nav button:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;  
}

.btn-signup:hover {
    color: black;
    background-color: white;
}


  
  