<div class="bg-white min-h-screen flex flex-col">

    <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
  
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <div class="bg-slate-200 px-6 py-8 rounded shadow-md text-black w-full">
        
  <h1 class="mb-8 text-3xl text-center">Reset Password</h1>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        #password="ngModel"
      />
     
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        name="confirmPassword"
        [(ngModel)]="form.confirmPassword"
        #confirmPassword="ngModel"
    
      />
      
    </div>
   
    <div class="form-group">
      <button class="btn btn-primary btn-block" href="../login/" routerLink="login">Submit</button>
    </div>
  
     
    </div>
   
  </div>
  
  
  
  </form>
  
    
  </div>
  
  